<div class="h-100">
    <h2>Inicio</h2>

    <!-- Barra de búsqueda y subida de archivos -->
    <div class="flex justify-between mt4">
        <app-searchbar class="w-70 "></app-searchbar>
        <button class="w-25 btn btn-primary navbar-bg">Subir archivo</button>
    </div>

    <!-- Listado de archivos e información -->
    <div class="flex justify-between mt4 h-75">
        <div class="w-70 bg-light align-content-center">
            <cdk-virtual-scroll-viewport itemSize='5' class="h-100">
                <div class="pt2 pb2" *cdkVirtualFor="let dat of data">
                    <div class="pl2">{{dat.id}} | {{dat.name}}</div>

                </div>
            </cdk-virtual-scroll-viewport>
        </div>
        <div class="w-25 bg-light">Aqui van los datos</div>
    </div>
</div>