<div class="outline h-100">
    <h2>Inicio</h2>

    <!-- Barra de búsqueda y subida de archivos -->
    <div class="flex justify-between mt4">
        <div class="w-70 bg-light align-content-center">Aquí va la barra chula</div>
        <button class="w-25 btn btn-primary navbar-bg">Subir archivo</button>
    </div>

    <!-- Listado de archivos e información -->
    <div class="flex justify-between mt4 ">
        <div class="w-70 bg-light align-content-center">
            <cdk-virtual-scroll-viewport itemSize='5' class="list-container list-group">
                <div *cdkVirtualFor="let dat of data">
                    {{dat.id}} {{dat.name}}
                </div>
            </cdk-virtual-scroll-viewport>
        </div>
        <div class="w-25 bg-light">Aqui van los datos</div>
    </div>
</div>