<div>
    <h2>Inicio</h2>

    <div class="d-flex row">
        <div class="col-6 bg-light align-content-center">Aqui va la barra chula</div>
        <button class="col-3 float-right btn btn-primary navbar-bg">Subir archivo</button>
    </div>
    <div class="d-flex row h-100">
        <div class="col-6 h-100 bg-light align-content-center">
            <ul class="">
                <li *ngFor="let dat of data">
                    <span class="badge">{{dat.id}}</span> {{dat.name}}
                </li>
            </ul>
        </div>
        <div class="col-3 bg-light">Aqui van los datos</div>
    </div>
</div>