<div class="container d-flex flex-column items-center vh-100 align-items-center justify-content-center">
    <img class="sharebinLogo" [src]="sharebinLogo" />
    <form class="col-4" action="">
        <div class="form-group">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <button type="submit" class="btn" (click)="goHome()">Login</button>
    </form>
</div>